.info-grid{
    margin: auto;
    max-width: 70vw;
    min-height: 65vh;
    display: grid;
    grid-template-columns: 12rem 1fr;
    padding: 5rem 0rem;
    overflow: hidden;
}

.info-grid nav {
    margin: 0;
    padding: 0;
}


.info-grid a{
    margin: 0;
    text-transform: uppercase;
    line-height: 1.5;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(26,26,26,.7);
    display: grid;
    cursor: pointer;
    justify-self: start;
    text-align: left;
}

.info-grid a:hover{
    text-decoration: underline rgba(26,26,26,.7);
}

.info-grid a:active{
    border: none;
}

.hide {
    visibility: collapse;
    height: 0;
}

.show{
    visibility: visible;
    height: auto;
}

.selected {
    color: #212529 !important;
    text-decoration: underline rgba(26,26,26,.7) !important;
}

.mobileInfo{
    display: none;
    background-color: transparent;
}

@media only screen and (max-width: 1024px){
    .info-grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        max-width: 90%;
        padding-top: 2.5rem;
    }
    .infoDiv a{
        text-align: left;
    }

    .desktopInfoMenu{
        display: none;
    }

    .mobileInfo{
        display: inherit;
        background-color: white;
        text-align: right;
        right: 1.3rem;
        z-index: 4;
    }

    .mobileInfo a{
        text-align: right;
    }

    .openInfoMenuBtnContainer  button{
        height: 3rem;
        width: 3rem;
        line-height: 0;
        font-size: 2.25rem;
        border: none;
        background-color: white;
        font-weight: 200;
        text-align: right;
    }

    .mobileInfoMenuContainer{
        visibility: collapse;
        display: none;
    }

}