.infoDiv{
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

.infoDiv h4 p{
    margin: 0;  
}

.infoDiv img{
    width: 90%;
    height: 100%;
    margin: 0;
    margin-right: 2rem;
    padding: 1rem;
    background-color: #eee;
    align-self: flex-start;

    object-fit: cover;
}

.img2 img {
    margin-left: 2rem;
}

@media only screen and (max-width: 1024px){
    .infoDiv{
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .infoDiv img {
       display: none;
    }
}

