.coffeeCat{
    margin: auto;
    width: 65vw;
    min-height: 65vh;
    display: grid;
    grid-template-columns: 10rem 1fr;
    padding: 5rem 0rem;
}

.coffeeCat p{
    text-transform: uppercase;
}

.product{
    margin-bottom: 1rem;
}

.roast-btns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
}

.coffeeCat button{
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(26,26,26,.7);
    display: grid;
    line-height: 1.5;
    cursor: pointer;
    justify-self: start;
    text-align: left;
    outline: none;
    text-decoration: none;
    background-color: transparent;
    border: none;

}

.coffeeCat button:hover{
    text-decoration: underline rgba(26,26,26,.7);
}

.highlightBtn {
    color: #212529 !important;
    text-decoration: underline #212529 !important;
}

@media only screen and (max-width: 1024px){
    .coffeeCat{
        width: 90vw;
        margin: auto;
        grid-template-columns: 1fr;
    }

    .products-btns-mobile button{
        display: inline-block;
        justify-self: start;
        margin: 0.25rem;
        padding: 0.2rem 0.4rem 0.2rem 0.4rem;
        background-color: white;
        border: 1px solid rgba(26,26,26,.7);
        text-decoration: none;
    }

    .highlightBtn {
        background-color: #a7a7a7 !important;
        text-decoration: none !important;
        color: white !important;
        border: 1px solid #a7a7a7 !important;
    }

    .coffeeCat button:hover{
        text-decoration: none !important;
    }
}